* ,div{
	margin: 0;
	padding: 0;
	border: none;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #f0f3fa;
	overflow: hidden;
}

header {
	height: 6%;
	width: 100%;
	position: relative
}

header span {
	display: inline-block;
	height: 100%;
}

#logo {
	background-color: #3772c2;
	position: absolute;
	width: 13%;
	background-image: url("/static/img/logo.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}



#logo_1 {
	-moz-box-shadow: 0 2px 13px #C0C0C0;
	-webkit-box-shadow: 0 2px 13px #C0C0C0;
	box-shadow: 0 2px 13px #C0C0C0;
	width: 87%;
	margin: 0 0 0 13%;
	background-color: #3A6CAF;
}

#logo_1 span {
	font-size: 18px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	margin-left: 2%;
	display: flex;
	align-items: Center;
}

#right {
	background-color: white;
	-moz-box-shadow: 0px 0px 13px #C0C0C0;
	-webkit-box-shadow: 0px 0px 13px #C0C0C0;
	box-shadow: 0px 0px 13px #C0C0C0;
	top: 7%;
	position: absolute;
	right: 0.5%;
	left: 13.5%;
	bottom: 1%;
	}

.layui-card-body {
	-moz-box-shadow: 0  13px 0 0 #C0C0C0;
	-webkit-box-shadow: 0  13px 0 0 #C0C0C0;
	box-shadow: 0  13px 0 0 #C0C0C0;
	padding: 0;
	background-color: rgba(255, 255, 255, 1);
	width: 13%;
	height: 94%;
	position: absolute;
	left: 0;
}

.layui-nav-tree {
	width: 100%;
	height: 100%;
}

.layui-nav {
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 1);
}
.layui-edge {
	position: absolute;
	right: -20px;
	top: 50%;
	margin-top: -3px;
	cursor: pointer;
	border-width: 6px;
	border-top-color: white;
	border-top-style: solid;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.layui-nav-tree .layui-nav-item a {
	position: relative;
	font-weight: bold ;
	color: #333333;
	border-radius: 45px;
	height: 34px;
	line-height: 34px;
	width: 80%;
	text-align: center;
	background-color: #E5EBF3;
}
.layui-nav-tree .layui-nav-item a img{
	height: 16px;
	width: 16px;
	margin-left: 7px;
}
.icon{
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	left: 2px;
	top: 2px;
	width: 30px;
	height: 30px;
	border-radius:30px;
	background-color: white;
}
.layui-nav-tree .layui-nav-item {
	background-color: rgba(255, 255, 255, 1);
	width: 80%;
	margin-top: 20px;
	margin-left: 10%;
}
.layui-nav-tree .layui-nav-item dd a:hover{
	color: #3A6CAF!important;

}
.layui-nav-tree .layui-nav-item a:hover {
	background-color: #7dabe9;
	color: rgba(255, 255, 255, 1)!important;
}

.layui-nav-child a {
	background-color: rgba(255, 255, 255, 1)!important;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a
 {
	background-color: #3A6CAF !important;
	border-radius: 45px;
}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a{
	background-color: rgba(255, 255, 255, 1)!important;
	color: #3A6CAF!important;
	border-radius: 45px;
}
.layui-nav-child dd{
	width: 70%;
	margin-left: 15%;
}
.layui-nav-child dd a{
	color: #666!important;
	font-size: 13px;
}
.layui-nav-tree .layui-nav-child a{
	margin-top: 5px!important;
}
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a:after{
	color: rgba(255, 255, 255, 1)!important;
}

.layui-nav-tree .layui-nav-more {
	right: 10%;
}
.layui-nav .layui-nav-more{
	border-top-color: #333;
}
.layui-nav .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more{
	border-color: transparent transparent #333;
}
#logo_2{
	font-size: 15px;
	position: absolute;
	right: 60px;
	top: 0;
}
#logo_2 span{
	cursor:pointer;
	color: white;
	display: flex;
	align-items: Center;
}
#logo_3{
	z-index: 9999999;
	display: none;
	-moz-box-shadow: 0 0 13px #C0C0C0;
	-webkit-box-shadow: 0 0 13px #C0C0C0;
	box-shadow: 0 0 13px #C0C0C0;
    width: calc(100% + 22px);
	position: relative;
}
.logo_3{
	height: 40px;
	font-size: 15px;
	position: relative;
	top:0;
	left: 0;
	z-index: 99999;
	background-color: white;
}
.logo_3 span{
	margin: 20px auto;
}
.logo_3:hover{
	background-color: #EBEEFD;
}
.logo_3:hover a{
	color: #3a6caf!important;
}
#changePassWord .aux-self{padding: 20px;}
#changePassWord .aux-self .layui-input-block{float: left;margin-left: 0;}
#changePassWord .aux-self .layui-form-label{width: 90px;}
.aux-self-word{padding: 8px 10px;float: left; margin-left: 20px; border: 1px solid #e6e6e6;width: 220px;color: #ff1010;
	display: none;}
#changePassWord .layui-input{width: 150%}
.layui-form-label{
	padding: 7px 15px;
}
.layui-layer-page .layui-layer-btn{text-align: center;padding-bottom: 30px}
.layui-edge {
	position: absolute;
	right: -20px;
	top: 50%;
	margin-top: -3px;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
}